@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');



.table__container {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: white;
 }

.titles__head {
    font-family: 'Lexend Giga';
    background-color: black;
    color: white;
}

.titles__head td {
    padding-block: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
}


.titles__options td {
    background-color: rgb(150, 147, 147);
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.table__content td {
    background-color: rgba(128, 128, 128, 0.199);
    padding-block: 3px;
    padding-inline: 15px;
}

.table__content td, button {
    background-color: transparent;
    border: none; 
}


.table__content.pending {
    color: red;
  }
  
  .table__content.completed {
    color: green;
  }
  
  .button.completed {
    color: green;
  }
  
  .button.pending {
    color: red;
  }

@media only screen and (max-width : 900px) {

    .task {
        width: 100%;
    }

    .table__container {
        border: 0px;
    }

    .table__container thead {
        display: none;
    }

    .table__container tr {
        border-bottom: 4px solid grey;
        margin-bottom: 8px;
        display: block;
        margin: 0;
        padding: 10px;
    }

    .table__container th, .table__container td {
        font-size: 16px;
    }

    .table__container td {
        display: block;
    }

    .name__Task {
        font-weight: 700;
    }


}