@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

.task {
    width: 80%;
}

.container__task {
    display: flex;
    padding-block: 20px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px ;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.68);
}

.complete__task__container {
    width: 50%;
}

.complete__task__title {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    font-family: 'Lexend Giga', sans-serif;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
}

.aggTask {
    display: flex;
    align-items: center;
    justify-content: right;
}

.aggTask a {
    background-color: rgb(21, 255, 0);
    padding: 12px 20px;
    margin-top: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: 0.3s;
}

.aggTask a:hover {
    box-shadow: 0px 0px 15px 0px rgba(43, 255, 0, 0.719);
}

.pending__task__container {
    width: 50%;
}

.pending__task__title {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    font-family: 'Lexend Giga', sans-serif;    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
}

.task__complete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-block: 10px;
}

.task__pending {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-block: 10px;
}